<div class="card">
    <%= link_to hotel_path(hotel), class: 'text-decoration-none' do %>
      <div style="max-width: 100%; object-fit: cover;
              width: 350; height: 200px;
              overflow: hidden; align-items: center; display: flex; justify-content: center; align-items: center;">
        <% if hotel.photo.attached?  %>
            <%= image_tag(hotel.photo, :width => 350, :height => 350, crop: :fit) %>
        <% else %>
          <%= image_tag('hotel.jpeg', :height => 250) %>
        <% end %>
      </div>

      <h3><%= hotel.name %></h3>
    <% end %>
  </div>
